[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django = "*"
django-rest-auth = "*"
django-cors-headers = "*"
python-dotenv = "*"
dj-database-url = "*"
django-messages = "*"

[dev-packages]

[requires]
python_version = "3.10"
