{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NookList 🍃</title>
    <link rel='stylesheet' href='{ static "css/nooklist.css "}'/>
</head>
<body>
<h1>NookList 🍃</h1>    
<nav>
    <a href='/'>Home</a>
    <a href='/Housewares'>Houseware</a>
    <a href='/Recipes'>Recipes</a>
    <a href='/Clothing'>Clothing</a>
    <a href='/Villagers'>Villagers</a>
    <a href='/Resources'>Resources</a>
</nav>
{% block content %} {%endblock%}
</body>
</html>