{% extends 'nooklist/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class='container'>
    <div class='row'>
        <div class ='col'></div>
        <a href = '#' class='btn btn-light'>Back to Your Inbox</a>
        </div>
    </div>
<div class='row2'>
    <div class="='col2">
<h5>Create Chat!</h5>
    </div>
</div>
<div class='row3'>
    <div class ='col3'>
        <form method="POST">
            {% csrf_token%}

            <p>Enter username for person you want to chat with!</p>

            {{ form | cirspy }}
            <div class='d'>
                <button type='submit' class='btn'>Continue</button>
            </div>
        </form>
    </div>
</div>
</div>

{%endblock%}